{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>


<div class="row">
    <div class="col-sm-9">
        Modifications
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <a class="btn btn-default" href="{{ path('search') }}" role="button">ceci n'est qu'un putain de fucking teste &raquo;</a>
            </div>
        </div>
    </div>
</div>
<div class="butonThème">
<p><a class="btn btn-default" href="{{ path('search') }}" role="button">Lancer la recherche &raquo;</a></p>
</div>