{% extends 'base.html.twig' %}

{% block body %}
  <section class="container">
    <h2 class="text-center">Projets</h2>
    <a href="{{ path('user_project_add') }}">Ajouter une Expérience</a>
    {% if user.project.count == 0 %}
      <div class="alert alert-danger" role="alert">
        <strong>Mince !</strong> Aucun projet n'a pu être trouvé.
      </div>
    {% else %}
      <table>
        <thead>
        <tr>
          <th>Nom de Projet</th>
          <th>Description du projet</th>
          <th>Illustration du projet</th>
          <th>Lien vers le projet</th>
          <th>Sources de téléchargement du projet</th>
        </tr>
        </thead>
        <tbody>
        {% for project in user.project %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.media }}</td>
          <td>{{ project.link }}</td>
          <td>{{ project.sources }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}
