{% extends 'base.html.twig' %}

{% block body %}
  <section class="container">
    <h2 class="text-center">Expériences</h2>
    <a href="{{ path('user_experience_add') }}">Ajouter une Expérience</a>
    {% if user.experience.count == 0 %}
      <div class="alert alert-danger" role="alert">
        <strong>Mince !</strong> Aucune expérience n'a pu être trouvée.
      </div>
    {% else %}
      <table class="table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Poste</th>
          <th>Entreprise</th>
          <th>Description</th>
          <th>Lieu</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for experience in user.experience %}
        <tr>
          <td>{{ experience.name }}</td>
          <td>{{ experience.position }}</td>
          <td>{{ experience.company }}</td>
          <td>{{ experience.description }}</td>
          <td>{{ experience.location }}</td>
          <td><a href="{{ path('user_experience_delete', {'id':experience.id}) }}"><i class="fa fa-3x fa-times"></i></a> <a href="{{ path('user_experience_edit', {'id':experience.id}) }}"><i class="fa fa-3x fa-edit"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}