{% extends 'base.html.twig' %}

{% block body %}
  <section class="container">
    <h2 class="text-center">Formation</h2>
    <a href="{{ path('user_course_add') }}">Ajouter une Formation</a>
    {% if user.course.count == 0 %}
      <div class="alert alert-danger" role="alert">
        <strong>Mince !</strong> Aucune Formation n'a pu être trouvée.
      </div>
    {% else %}
      <table class="table">
        <thead>
        <tr>
          <th>Titre de la formation</th>
          <th>Description de la formation</th>
          <th>Annee de la formation</th>
          <th>Diplome</th>
          <th>Lieu de la formation</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for course in user.course %}
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.date }}</td>
          <td>{{ course.diploma }}</td>
          <td>{{ course.location }}</td>
          <td><a href="{{ path('user_course_delete', {'id':course.id}) }}"><i class="fa fa-3x fa-times"></i></a> <a href="{{ path('user_course_edit', {'id':course.id}) }}"><i class="fa fa-3x fa-edit"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}
